.inputsSpreadsheet-component {
  height: 30px;

  border: 1px solid #E8EAF2;

  text-align: center;
}

.inputsSpreadsheet-component:read-only {
  background-color: #E8EAF2;
  border: 1px solid #CACEE1;
}

.inputsSpreadsheet-component:read-write {
  cursor: pointer;
}

@media(max-width: 450px){
  .inputsSpreadsheet-component {
    width: 15%;
  }
}

@media(max-width: 800px){
  .inputsSpreadsheet-component {
    width: 15%;
  }
}

@media(max-width: 240px){
  .inputsSpreadsheet-component {
    width: 12%;
  }
}