.container {
  width: 100%;
  height: 100vh;

  display: flex;

  background-color: #F5F5F5;
}

.img-container {
  width: 50%;

  display: flex;

  justify-content: center;
  align-items: center;
  
  background-color: #E8EAF2;
}

.img-container img {
  width: 70%;
}

.form-container {
  width: 50%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  
  background-color: #f5f5f5;
}

.form-container form {
  width: 70%;

  display: flex;
  flex-direction: column;

  text-align: left;
}

.form-container form p {
  font-size: 16px;
  font-weight: bold;
}

.form-container form input {
  height: 30px;

  border: 1px solid #E8EAF2;
  border-radius: 8px;

  text-align: center;
}

.register {
  font-size: 14px;
}

@media(max-width: 450px) {
  .container .form-container{
    display: flex;

    justify-content: center;
    align-items: center;
  
    margin: auto;
  }

  .img-container {
    display: none;
  }

  .form-container {
    width: 100%;

    background-color: #E8EAF2;
  }
}